## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [1]:
mi_lista=["paris","madrid","barcelona","roma","dublin","berlin"]
print(mi_lista)

['paris', 'madrid', 'barcelona', 'roma', 'dublin', 'berlin']

2) Imprimir por pantalla el segundo elemento de la lista

In [2]:
print(mi_lista[1])

madrid

3) Imprimir por pantalla del segundo al cuarto elemento

In [3]:
print(mi_lista[1:4])

['madrid', 'barcelona', 'roma']

4) Visualizar el tipo de dato de la lista

In [4]:
type(mi_lista)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [5]:
print(mi_lista[2:])

['barcelona', 'roma', 'dublin', 'berlin']

6) Visualizar los primeros 4 elementos de la lista

In [6]:
print(mi_lista[:4])

['paris', 'madrid', 'barcelona', 'roma']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [9]:
mi_lista.append("barcelona")
mi_lista.append("londres")
print(mi_lista)

['paris', 'madrid', 'barcelona', 'roma', 'dublin', 'berlin', 'barcelona', 'londres', 'barcelona', 'londres']

8) Agregar otra ciudad, pero en la cuarta posición

In [10]:
mi_lista.insert(3,"lisboa")

In [11]:
print(mi_lista)

['paris', 'madrid', 'barcelona', 'lisboa', 'roma', 'dublin', 'berlin', 'barcelona', 'londres', 'barcelona', 'londres']

9) Concatenar otra lista a la ya creada

In [13]:
mi_lista_adicional=["caracas","buenos aires","bogota"]
mi_lista.extend(mi_lista_adicional)
print(mi_lista)

['paris', 'madrid', 'barcelona', 'lisboa', 'roma', 'dublin', 'berlin', 'barcelona', 'londres', 'barcelona', 'londres', 'caracas', 'buenos aires', 'bogota']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [18]:
mi_lista.index("barcelona") #Devuelve el índice de la primera aparición de un elemento en la lista.

6

11) ¿Qué pasa si se busca un elemento que no existe?

In [15]:
mi_lista.index("pedro") # Arroja un error porque el elemento no existe

ValueError: 'pedro' is not in list

12) Eliminar un elemento de la lista

In [16]:
mi_lista.remove("londres")
print(mi_lista)

['paris', 'madrid', 'barcelona', 'lisboa', 'roma', 'dublin', 'berlin', 'barcelona', 'barcelona', 'londres', 'caracas', 'buenos aires', 'bogota']

In [17]:
mi_lista.remove("barcelona")
print(mi_lista)

['paris', 'madrid', 'lisboa', 'roma', 'dublin', 'berlin', 'barcelona', 'barcelona', 'londres', 'caracas', 'buenos aires', 'bogota']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [19]:
mi_lista.remove("valencia")

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [20]:
ultimo_elemento_lista=mi_lista.pop()
print(ultimo_elemento_lista)

bogota

In [21]:
print(mi_lista)

['paris', 'madrid', 'lisboa', 'roma', 'dublin', 'berlin', 'barcelona', 'barcelona', 'londres', 'caracas', 'buenos aires']

15) Mostrar la lista multiplicada por 4

In [22]:
print(mi_lista*4)

['paris', 'madrid', 'lisboa', 'roma', 'dublin', 'berlin', 'barcelona', 'barcelona', 'londres', 'caracas', 'buenos aires', 'paris', 'madrid', 'lisboa', 'roma', 'dublin', 'berlin', 'barcelona', 'barcelona', 'londres', 'caracas', 'buenos aires', 'paris', 'madrid', 'lisboa', 'roma', 'dublin', 'berlin', 'barcelona', 'barcelona', 'londres', 'caracas', 'buenos aires', 'paris', 'madrid', 'lisboa', 'roma', 'dublin', 'berlin', 'barcelona', 'barcelona', 'londres', 'caracas', 'buenos aires']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [42]:
mi_tupla=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(type(mi_tupla))

<class 'tuple'>

17) Imprimir desde el índice 10 al 15 de la tupla

In [43]:
print(mi_tupla[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [44]:
print(20 in mi_tupla)
print(30 in mi_tupla)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [45]:
elemento = "Paris"
if (not (elemento in mi_lista)):
    mi_lista.append(elemento)
    print (f"Se insertó el elemento {elemento} en la lista")
else:
    print (f"El elemento {elemento} ya existe en la lista")

Se insertó el elemento Paris en la lista

In [46]:
print (mi_lista)

['paris', 'madrid', 'lisboa', 'roma', 'dublin', 'berlin', 'barcelona', 'barcelona', 'londres', 'caracas', 'buenos aires', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [34]:
contador_tupla= mi_tupla.count(20)
contador_lista= mi_lista.count("barcelona")
print(contador_tupla)
print(contador_lista)

1
2

21) Convertir la tupla en una lista

In [35]:
mi_lista_2 = list(mi_tupla)
print(mi_lista_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [36]:
primero = mi_tupla[0]
segundo = mi_tupla[1]
tercero = mi_tupla[2]
print(primero, segundo, tercero)

1 2 3

In [49]:
v1,v2,v3,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_= mi_tupla
print(v1)
print(v2)
print(v3)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [37]:
mi_diccionario = {"ciudad":["paris","madrid","barcelona","roma","dublin","berlin"],"pais":["francia","españa","españa","italia","irlanda","alemania"],"continente":["europa","europa","europa","europa","europa","europa"]}

24) Imprimir las claves del diccionario

In [39]:
mi_diccionario.keys()

dict_keys(['ciudad', 'pais', 'continente'])

25) Imprimir las ciudades a través de su clave

In [41]:
mi_diccionario["ciudad"]

['paris', 'madrid', 'barcelona', 'roma', 'dublin', 'berlin']