## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [77]:
x=3
print(x)

3

2) Imprimir el tipo de dato de la constante 8.5

In [7]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [8]:
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [10]:
nombre='Ana'

5) Crear una variable que contenga un número complejo

In [78]:
numcomplejo=5+5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [79]:
print(type(numcomplejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [14]:
Pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [17]:
valor='True'    #String 
valor2=12>3   # Valor True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [18]:
print(type(valor))
print(type(valor2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [19]:
sum=5+1.5

11) Realizar una operación de suma de números complejos

In [81]:
y=7+1j
z=5+3j   
print(y+z)

(12+4j)

12) Realizar una operación de suma de un número real y otro complejo

In [82]:
p=1.7+y
print(p)

(8.7+1j)

13) Realizar una operación de multiplicación

In [23]:
7*8

56

14) Mostrar el resultado de elevar 2 a la octava potencia

In [28]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [29]:
division=27/4
print(division)

6.75

16) De la división anterior solamente mostrar la parte entera

In [31]:
div_entera=27//4
print(div_entera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [32]:
div_resto=27%4
print(div_resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [33]:
4*div_entera+div_resto

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [34]:
'hola'+' '+'mundo'

'hola mundo'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [37]:
'2'==2 #no son iguales porque el primero es un str y el sengudo un ent

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [43]:
variable='2'
variable2=2
variable=int(variable)
variable==variable2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [50]:
a='3,8'
a=float(a) #porque no se puede convertir un string en decimales

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [52]:
c=3
c-=1
print(c)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [53]:
1<<2 #resulta 100 porque se ha desplazado 2 posiciones a la derecha, y el resultado es 4 que es 2**2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [72]:
 #porque no se puede sumar una cadena con entero, no arrojaría el mismo resultado. 
      # si los 2 fueran string resultaria 22 y si son enteros seria 4
a=2
b='2'
b=int(b)
f=a+b
print(f)

a=str(a)
b=str(b)
g=a+b
print(g)

4
22

26) Realizar una operación válida entre valores de tipo entero y string

In [76]:
('Hola'+' ')*3

'Hola Hola Hola '